lab_4_project_template/hw/*

!lab_4_project_template/hw/hdl/*

!lab_4_project_template/hw/modelsim/
lab_4_project_template/hw/modelsim/**

!lab_4_project_template/hw/quartus/ip/**
!lab_4_project_template/hw/quartus/output_files/*
!lab_4_project_template/hw/quartus/soc_system/*
!lab_4_project_template/hw/quartus/ES_mini_project.sdc
!lab_4_project_template/hw/quartus/ES_mini_project_TRDB_D5M_LT24.qpf
!lab_4_project_template/hw/quartus/ES_mini_project_TRDB_D5M_LT24.qsf
!lab_4_project_template/hw/quartus/soc_system.qsys
!lab_4_project_template/hw/quartus/soc_system.sopcinfo