/lab_4_project_template/hw/quartus/*

!/lab_4_project_template/hw/quartus/ip
!/lab_4_project_template/hw/quartus/ES_mini_project.sdc
!/lab_4_project_template/hw/quartus/ES_mini_project_TRDB_D5M_LT24.qpf
!/lab_4_project_template/hw/quartus/ES_mini_project_TRDB_D5M_LT24.qsf
!/lab_4_project_template/hw/quartus/new_component_hw.tcl
!/lab_4_project_template/hw/quartus/soc_system.qsys